<h1>
  {{title}}
</h1>

<first-component></first-component>
<first-automatic-component></first-automatic-component>
<first-module></first-module>
<movie-component></movie-component>
<data-binding-component></data-binding-component>
<lifecycle-component [initialValue]="lifecycleValue" *ngIf="!destryLifecycle"></lifecycle-component>
<button (click)="changeLifecycleValue()" class="btn btn-primary">Change Value</button>
<button (click)="destroyLifecycle()" class="btn btn-primary">Destroy Lifecycle</button>